/* header */

body {
    background-image: url("imgs/geometric_purple_back.jpg");
    background-size: 100%;
}

header {
    display: flex;
    justify-content: right;
    background-size: 100%;
    padding: 2% 5%;
    transition: 1s;
    font-family: fantasy;
    box-shadow: 4px 4px 4px 0px rgba(0.16, 0.16, 0.16, 0.16);
    justify-content: space-between;
}

.john__button {
    width: 10%;
}

.john__logo {
    width: 100%;
}

.cabecalho__icons {
    display: flex;
    align-items: center;
}

.cabecalho__instagram {
    padding-right: 15%;
    font-size: 190%;
    transition: 1s;
    background: -webkit-linear-gradient(#fafafa, rgb(221, 221, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.cabecalho__linkedin {
    font-size: 190%;
    transition: 1s;
    background: -webkit-linear-gradient(#fafafa, rgb(221, 221, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header */

/* main */

.apresentacao{
    align-items: left;
    text-align: left;
    background-size: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
}

.apresentacao__container {
    display: flex;
    padding: 2%;
}


.apresentacao__titulo__div__cont{
    padding-right: 20%;
    padding-top: 2%;
    padding-block-end: 2%;
}

.apresentacao__titulo__div {
    background-image: -webkit-linear-gradient(#fafafa, rgb(221, 221, 221));
    color: -webkit-linear-gradient(#35a9fe, rgb(24, 114, 248));;
    width: 100%;
    height: 2px;
}

.apresentacao__titulo {
    background: -webkit-linear-gradient(#fafafa, rgb(221, 221, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 300%;
    padding-top: 6%;
}

.apresentacao_texto {
    font-size: 170%;
    background: -webkit-linear-gradient(#fafafa, rgb(221, 221, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.apresentacao__button_container{
    padding-top: 4%;
    align-items: left;
    text-align: center;
}

.aprentacao__botao {
    background-image: -webkit-linear-gradient(#35a9fe, rgb(24, 114, 248));
    background-size: 145%;
    color: white;
    font: inherit;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0.16, 0.16, 0.16, 0.11);
    cursor: pointer;
    font-size: 90%;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
  }
  
  .aprentacao__botao:hover{
    text-decoration: underline;
  }


.servico {
    text-align: center;
}

.servicos {
    padding: 1%;
    padding-block-end: 3%;
}

.servicos li {
    background-color: white;
    display: inline-block;
    text-align: center;
    width: 45%;
    margin: 1.5% 1.5%;
    padding: 20px 20px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 4px rgba(0.16, 0.16, 0.16, 0.16);
    border-radius: 15px
}

.servicos li:hover {
    box-shadow: 6px 6px 6px 6px rgba(0.16, 0.16, 0.16, 0.16);
}


.servicos li img {
    width: 20%;
    padding: 2%;
}

.servicos h2 {
    padding-top: 3%;
    font-size: 130%;
    color: #212529;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.servico__text {
    font-size: 90%;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 10px 10px 10px;
    line-height: 22px;
    font-weight: lighter;
}

.servicos__button_container{
    padding-top: 1%;
    align-items: center;
    text-align: center;
}

.servicos__botao {
    background-image: -webkit-linear-gradient(#35a9fe, rgb(24, 114, 248));
    background-size: 145%;
    color: white;
    font: inherit;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0.16, 0.16, 0.16, 0.11);
    cursor: pointer;
    font-size: 90%;
    padding: 2.6%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
  }

.servicos__botao:hover {
    text-decoration: underline;
  }

.about_me {
    background-color: white;
    padding-left: 6%;
    padding-right: 6%;
    box-shadow: 6px 6px 6px rgba(0.16, 0.16, 0.16, 0.16);
}

.about_me__conteudo {
    display: flex;
}

.about_me__image_container {
    padding: 6%;
}

.about_me__image {
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0.16, 0.16, 0.16, 0.16);
    padding-right: 10%;
    padding-left: 10%;
}

.about_me__titulo {
    font-size: 160%;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    padding-top: 3%;
    padding-block-end: 3%;
    font-weight: 600;
}

.about_me__text {
    font-size: 120%;
    font-family: 'Poppins', sans-serif;
    color: #262529;
    line-height: 110%;
    padding: 6%;

}
.certificados {
    background-color: white;
    align-items: center;
    text-align: left;
    display: flex;
}

.certificados div {
    padding-top: 15%;
}

.certificados img {
    width: 30%;
    box-shadow: 6px 6px 6px 6px rgba(0.16, 0.16, 0.16, 0.16);
}

.certificados img:hover {
    box-shadow: 8px 8px 8px 8px rgba(0.16, 0.16, 0.16, 0.16);
}

/* main */


/* footer */

.wpp__button {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
    transition: 0.3s;
}
.wpp__button:hover {
    width:61px;
    height:61px;
    bottom:41px;
}

.pe__cont {
    box-sizing: border-box;
    text-align: left;
  }
.copy {
    background-color: #212529;
    color: white;
    margin-top: auto;
    text-align: center;
}

.copy__copy {
    padding-top: 5%;
    padding-block-end: 2%;
}

.pe__icons {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.pe__icons p {
    padding-left: 1%;
}

/* footer */

/*MOBILE ADAPTERS*/

@media screen and (max-width:600px) { 
    .apresentacao__titulo {
        font-size: 190%;
    }

    .apresentacao__titulo__div {
        width: 100%;
    }

    .apresentacao_texto {
        font-size: 100%;
    }

    .apresentacao__john_image__container {
        padding: 0%;
    }

    .apresentacao__john_image {
        height: 160px;
        height: 160px;
        box-shadow: 6px 6px 6px rgba(0.16, 0.16, 0.16, 0.16);
    }

    .john__button {
        width: 30%;
    }
    
    .john__logo {
        width: 100%;
    }
    
    
    .cabecalho__instagram {
        font-size: 150%;
        
    }
    
    .cabecalho__linkedin {
        font-size: 150%;
    }

    .servico {
        text-align: center;
        padding-top: 2%;
    }
    
    .servicos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }
    

    .servicos li {
        width: 95%;
        margin: 1.5% 1.5%;
        padding: 2%;
        
        box-sizing: border-box;
        box-shadow: 4px 4px 4px 4px rgba(0.16, 0.16, 0.16, 0.16);
        border-radius: 15px
    }
    
    .servicos li img {
        width: 20%;
        padding-top: 1%;
    }
    
    .servicos h2 {
        padding-top: 1%;
        font-size: 90%;
    }
    
    .servico__text {
        font-size: 70%;
        line-height: 15px;
    }
    
    .servicos__button_container{
        padding-top: 0.5%;
    }
    
    .servicos__botao {
        background-image: -webkit-linear-gradient(#35a9fe, rgb(24, 114, 248));
        background-size: 145%;
        color: white;
        font: inherit;
        border-radius: 3px;
        box-shadow: 0px 4px 4px rgba(0.16, 0.16, 0.16, 0.11);
        cursor: pointer;
        font-size: 50%;
        padding: 2.6%;
        padding-left: 5%;
        padding-right: 5%;
        transition: 0.5s;
        font-family: 'Poppins', sans-serif;
      }
    
      .servicos__botao:hover {
        text-decoration: underline;
      }

      .copy{
        font-size: 70%;
      }

      .about_me {
        background-color: white;
        padding-left: 6%;
        padding-right: 6%;
        box-shadow: 6px 6px 6px rgba(0.16, 0.16, 0.16, 0.16);
    }
    
    .about_me__conteudo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    
    .about_me__image {
        width: 80%;
    }
    
    .certificados img {
        width: 100%;
        box-shadow: 6px 6px 6px 6px rgba(0.16, 0.16, 0.16, 0.16);
    }
    

} 
