.principal {
    text-align: center;
    align-items: center;
}

body {
    background-image: url("../imgs/geometric_black_back.jpg");
    background-size: 110%;
}

.cabecalho__john {
    background: -webkit-linear-gradient(#fafafa, rgb(221, 221, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.principal_introdução {
    background-size: 100%;
}

.principal__conteudo {
    padding-top: 6%;
    padding-block-end: 6%;
    display: flex;
    justify-content: center;
}

.principal__imagem {
    width: 50%;
    border-radius: 10px;
}

.principal__text {
    font-size: 120%;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: 10px 30px 10px;
    line-height: 150%;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    align-items: right;
}

.apresentacao__titulo__div__cont{
    padding-top: 6%;
    padding-block-end: 6%;
}

.apresentacao__titulo__div {
    background-image: -webkit-linear-gradient(#ffffff, rgb(255, 255, 255));
    color: -webkit-linear-gradient(#ffffff, rgb(255, 255, 255));;
    width: 400px;
    height: 2px;
}

.text__01 {
    text-align: left;
    font-size: 170%;
}

.text__02 {
    text-align: left;
    font-size: 110%;
}

b {
    font-weight: bold;
}

.precificacao {
    text-align: center;
    background-color: #cecece;
    padding-top: 3%;
}

b {
    font-weight: 600;
}

.plano__desenv__container {
    
    border: #ebebeb solid 3px;
    display: flex;
}

.plano__desenv {
    background-color: white;
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    box-shadow: 6px 6px 6px rgba(0.16, 0.16, 0.16, 0.16);
}

.homem__laptop {
    width: 30%;
    box-sizing: border-box;
}

.homem__laptop:hover {
    cursor:grab
}


.plano_desenv__conteudo__container {
    padding-left: 4%;
    padding-top: 3%;
}

.plano_desenv__conteudo {
    text-align: center;
    box-sizing: border-box;
}

.plano_desenv__texto {
    font-size: 140%;
    font-family: 'Poppins', sans-serif;
    color: #262529;
    margin: 10px 70px 10px;
    line-height: 150%;
    font-weight: 300;
    line-height: 30px;
    padding-top: 2%;
}

.plano_desenv__titulo {
    padding-top: 5%;
    padding-block-end: 1%;
    font-size: 180%;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #262529;
}

.orcamento__button_container{
    padding-top: 3%;
    align-items: center;
    text-align: center;
    padding-block-end: 4%;
}

.orcamento__botao {
    background: #35a9fe;
    color: white;
    font: inherit;
    border: 100% solid #2b6ba7;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 100%;
    padding: 2.1%;
    padding-left: 3.1%;
    padding-right: 3.1%;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .orcamento__botao:hover{
    text-decoration: underline;
    background: #1f84cc;
  }

  @media screen and (max-width:600px) {
    
    .principal__conteudo {
        padding: 1%;
        display: flex;
    }
    
    .principal__text {
        font-size: 100%;
        margin: 10px 10px 10px;
        line-height: 120%;
    }
    
    .apresentacao__titulo__div__cont{
        padding-top: 4%;
        padding-block-end: 4%;
    }
    
    .apresentacao__titulo__div {
        width: 135px;
    }
    
    .text__01 {
        font-size: 130%;
    }

    .text__02 {
        font-size: 85%;
    }
    
    .precificacao {
        padding-top: 2%;
    }
    
    .precificacao__titulos {
        font-size: 100%;
    }
    .plano__desenv {
        background-color: white;
        padding: 2%;
        padding-left: 2%;
        padding-right: 2%;
        display: flex;
        box-shadow: 6px 6px 6px rgba(0.16, 0.16, 0.16, 0.16);
    }
    
    .homem__laptop {
        width: 0%;
        box-sizing: border-box;
    }
    
    .plano_desenv__conteudo__container {
        padding-left: 1%;
        padding-top: 1%;
    }
    
    .plano_desenv__conteudo {
        text-align: center;
        box-sizing: border-box;
    }
    
    .plano_desenv__texto {
        font-size: 100%;
        font-family: 'Poppins', sans-serif;
        color: #262529;
        margin: 10px 10px 10px;
        line-height: 150%;
        font-weight: 300;
        line-height: 30px;
        padding-top: 2%;
    }
    
    .plano_desenv__titulo {
        padding-top: 5%;
        padding-block-end: 1%;
        font-size: 180%;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        color: #262529;
    }
    
    .orcamento__button_container{
        padding-top: 3%;
        align-items: center;
        text-align: center;
        padding-block-end: 4%;
    }
    
    .orcamento__botao {
        background: #35a9fe;
        color: white;
        font: inherit;
        border: 100% solid #2b6ba7;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        font-size: 100%;
        padding: 2.1%;
        padding-left: 3.1%;
        padding-right: 3.1%;
        transition: 0.2s;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
      }
      
      .orcamento__botao:hover{
        text-decoration: underline;
        background: #1f84cc;
      }
    
  }